%Image::ExifTool::UserDefined = (
    'Image::ExifTool::Exif::Main' => {
        0xd001 => {
            Name => 'ExposureTime',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd002 => {
            Name => 'AnalogueGain',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd003 => {
            Name => 'SensorBlackLevels',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd004 => {
            Name => 'FrameDuration',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd005 => {
            Name => 'Lux',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd006 => {
            Name => 'SensorTemperature',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd007 => {
            Name => 'AeLocked',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd008 => {
            Name => 'DigitalGain',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd009 => {
            Name => 'ColourGains',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd00A => {
            Name => 'ColourTemperature',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd00B => {
            Name => 'FocusFoM',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd00C => {
            Name => 'ColourCorrectionMatrix',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd00D => {
            Name => 'ScalerCrop',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd00E => {
            Name => 'SensorTimestamp',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd00F => {
            Name => 'ApogeeIrradiance',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd010 => {
            Name => 'NTCTemperature',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd011 => {
            Name => 'Magnetometer',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd012 => {
            Name => 'BME280Temperature',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd013 => {
            Name => 'BME280Humidity',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd014 => {
            Name => 'BME280Pressure',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd015 => {
            Name => 'CPUTemperature',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd016 => {
            Name => 'FanSpeed',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
        0xd017 => {
            Name => 'LM75Temperature',
            Writable => 'string',
            WriteGroup => 'IFD0',
        },
    },
);

1;  # end
