#sudo nano /etc/systemd/system/check-sunset.timer

[Unit]
Description=Run check-sunset service every five minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Unit=check-sunset.service

[Install]
WantedBy=timers.target

